
@{
 
}

<h1>Add a Cheese Name and Description</h1>

<form method="post">
    <label for="cheeseid">Name</label>
    <input name="cheese" id="cheeseid" type="text"/>
    <!--<input type="checkbox" id="cheeseid"/>-->
    <label for="descriptionid">Description</label>
    <input name="cheese" id="descriptionid" type="text" />
    <!--<input type="checkbox" id="descriptionid" />-->
    <input type="submit"/>
</form>

<!--<h1>Add a Cheese Description</h1>
<form method="post">
    <input name="description" type="text" />
    <input type="submit" value="Add Description" />
</form>-->