
@{
 
}

<h1>Add a Cheese Name and Description</h1>

<form method="post">
    <input name="name" id="cheeseid" type="text" placeholder="Name"/>
    <input name="description" id="descriptionid" type="text" placeholder="Description"/>
    <input type="submit"/>
</form>
